.th {
  padding: 0.38rem;
}

.typography {
  display: block;
  position: relative;
  padding-right: 1rem;
}

.icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  transition: 0.2s ease-in transform;

  &.icon_down {
    transform: translateY(-50%) rotate(-180deg);
  }
}
