.card {
  padding: 2.06rem 2.25rem 3.75rem;
  max-width: 26.25rem;
  width: 100%;
}

.title {
  margin-bottom: 3.19rem;
  text-align: center;
}

.description {
  color: var(--color-light-900);
  margin-bottom: 2.56rem;
}
