.thead {
  background-color: var(--color-dark-500);
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--color-dark-500);
}

.th {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not(:last-child) {
    > span {
      transition: all 0.1s ease-in;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
