*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-light-100);
  background-color: var(--color-dark-900);
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}
button {
  border: none;
}

button,
a {
  cursor: pointer;
}

button:disabled,
a:disabled {
  cursor: default;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}
