@import "../../../styles/typography-variants";

.general {
  @include variant-subtitle2;
  color: var(--color-light-100);
  position: relative;
  line-height: normal;
  border-radius: 0.25rem;
  padding: 0.375rem 1.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.62rem;
  min-height: 2.25rem;
  transition: background ease 0.1s;
  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    svg {
      fill: var(--color-light-900);
    }
  }
}

.primary {
  background-color: var(--color-primary-500);
  box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  &:hover {
    background-color: var(--color-primary-300);
  }
  &:active {
    background-color: var(--color-primary-700);
  }
  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-primary-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
  &:hover {
    background-color: var(--color-dark-100);
  }
  &:active {
    background-color: var(--color-dark-500);
  }
  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  padding: 0.3125rem 1.6875rem;
  color: var(--color-primary-500);
  background-color: transparent;
  border: 1px solid;
  border-color: var(--color-primary-500);
  &:hover {
    background-color: var(--color-dark-500);
    border-color: var(--color-primary-700);
  }
  &:active {
    background-color: var(--color-primary-900);
    border-color: var(--color-primary-700);
  }
  &:focus-visible {
    border-color: transparent;
  }
  &:disabled {
    color: var(--color-primary-900);
    border-color: var(--color-primary-900);
    background-color: transparent;
  }
}

.link {
  @include variant-subtitle1;
  border-radius: 0;
  padding: 0.375rem 0;
  color: var(--color-primary-500);
  background-color: transparent;
  &:hover {
    color: var(--color-primary-300);
  }
  &:active {
    color: var(--color-primary-700);
  }
  &:focus-visible {
    outline: none;
    &::before {
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: calc(100% + 1.5rem);
      height: calc(100% + 0.75rem);
      outline: none;
      border: 2px solid var(--color-info-700);
      border-radius: 8.125rem;
    }
  }

  &:disabled {
    color: var(--color-primary-900);
    border-color: var(--color-primary-900);
  }
}

.icon {
  padding: 0;
  background-color: transparent;
  min-height: 1.5rem;
  min-width: 1.5rem;
  align-items: center;
  justify-content: center;
  &:disabled {
    svg {
      fill: var(--color-dark-300);
    }
  }
}

.fullWidth {
  width: 100%;
  justify-content: center;
}
