.tbody {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--color-dark-500);
}

.tr {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-dark-500);
  }
}
